.introduction {
    display: grid;
    grid-template-columns: 1fr 3fr;
    color: white;
    background-color:#216869 ;
    border-radius: 45%;
    width: 90%;
    box-shadow: 5px 10px #9cc5a1;
    font-family: congenial, sans-serif;
    font-weight: 900;
    font-style: normal;

}

.AboutMe{
    border-radius: 10%;
    margin: 2%;
}

.heading{
    font-family: aw-conqueror-carved, sans-serif;
    font-weight:400;
    font-size: 3.5em;
    font-style: normal;
}