.aboutMe{
    display: grid;
    /* grid-template-rows: .5fr 2fr; */
    max-width: 80%;
}
.introduction {
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 1fr;
    color:white;
    font-family: mostra-nuova, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.25em;
}
.introductionContent{
    align-self: center;
}


.profilePhoto{
    float: right;
    mask-image: url(../../assets/images/mask.png);
    -webkit-mask-image: url(/src/assets/images/mask.png);

    justify-self: flex-end;
    box-shadow:
    2px 1px 0 1px #f9f9fb,
    14px 14px 14px 0  rgba(0, 0, 0, 0.486);
}

.heading{
    font-family: mostra-nuova, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 5em;
    justify-self: flex-start;
    color: white;
    text-shadow: 2px 2px 1px#1f2421af;
    margin-top: 0%;

}