.contactDiv{
    width: 80%;
    justify-content: center;
}

.heading{
    font-family: mostra-nuova, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 1px#1f2421af;
}

.line{
    border: 2px solid rgb(255, 255, 255);
    width: 50%;
}

.contact_form{
    text-align: center;
    width:50%;
    display: grid;
    color:white;
    font-family: congenial, sans-serif;
    font-weight: 900;
    font-style: normal;;
    text-decoration: none;
    font-size: 1.25em;
    text-shadow: 2px 2px 1px#1f2421af;
    margin-bottom: 20px;
}

.message{
    margin-top: 10px;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    resize: none;
    outline: none;
    background: rgba(255, 255, 255, 0.5);

    font-family: mostra-nuova, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1em;
    color: white;
}

.first_inputs{
    margin-top: 10px;
    display: flex;
    justify-content: center;

}

.inputs{
    background: transparent;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    outline: none;
    caret-color: #ffffff;
    font-family: mostra-nuova, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1em;
    color: white;
}

.submit{
    margin-top: 10px;
    color: white;
    border: 2px solid rgb(255, 255, 255);
    justify-self: center;
    width:50%;
    background: transparent;
    font-family: congenial, sans-serif;
    font-weight: 900;
    font-style: normal;;
    text-decoration: none;
    font-size: 1.25em;
    text-shadow: 2px 2px 1px#1f2421af;
}

.labels{
    margin-top: 10px;
}