.headerComponent {
  display: flex;
  width: auto;
  background-color: transparent;
  justify-content: flex-end;
}

.allLinks {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.outsideLink {
  height: 40px;
  width: auto;
  filter: drop-shadow(4px 4px 8px);
  color: #1f2421;
}

.link {
  margin: 2%;
  color: white;
  font-family: mostra-nuova, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2.5em;
  text-shadow: 2px 2px 1px#1f2421af;
  border: none;
  width: auto;
  background: transparent;
  transition: 0.2s ease-in-out text-shadow;
}
.link:hover {
  text-shadow: 1px 1px 0px bisque, 2px 2px 0px black;
}

.logo {
  justify-self: flex-end;
  width: 120px;
  transform: rotateX(1deg) rotateZ(10deg);
  transform-style: preserve-3d;
  filter: saturate(130%) contrast(110%) drop-shadow(12px 10px 8px);
  transition: 0.4s ease-in-out transform, 0.4s ease-in-out filter;
}
.logo:hover {
  filter: saturate(130%) contrast(110%) drop-shadow(24px 20px 16px);
}

a {
  text-decoration: none;
}
