.gallery {
  width: 100%;
  display: grid;
  text-align: center;
  justify-content: center;
}
.imageFrame {
  height: 70vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.548);
}

.heading {
  justify-self: flex-start;
  font-family: mostra-nuova, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3em;
  color: white;
}

.imageContainer {
  width: 50vw;
  height: 50vh;
  display: grid;
  justify-content: center;
}

.button {
  height: 20px;
  width: 30px;
  text-align: center;
  background: transparent;
  color: white;
  border: none;
  text-shadow: 2px 2px 1px#1f2421af;
  outline: none;
  transition: 0.2s;
}
.button:hover {
  transform: scale(1.5);
}
.button:active {
  transform: scale(2);
}
